[submodule "cdk-codepipeline"]
	path = cdk-codepipeline
	url = https://github.com/afallahi/cdk-codepipeline
[submodule "node-sls"]
	path = node-sls
	url = https://github.com/afallahi/node-sls
[submodule "fs-jwt"]
	path = fs-jwt
	url = https://github.com/afallahi/fs-jwt
[submodule "nest-cqrs-pg"]
	path = nest-cqrs-pg
	url = https://github.com/afallahi/nest-cqrs-pg
[submodule "nest_gql_ts_mongo"]
	path = nest_gql_ts_mongo
	url = https://github.com/afallahi/nest_gql_ts_mongo
[submodule "nest-ddb-mr"]
	path = nest-ddb-mr
	url = https://github.com/afallahi/nest-ddb-mr
